@charset "UTF-8";
/* Foundation */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  color: #000;
  word-break: break-all;
  font-family: meiryo, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* object */
/* project */
.bgContents {
  width: 100%;
}

.eyeCatch {
  background-image: url("../img/13.jpg");
  width: 100%;
  height: 680px;
  background-size: cover;
  background-position: center;
  display: table;
}

.title {
  display: table-cell;
  font-size: 85px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  vertical-align: middle;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#submozi {
  font-size: 54px;
}

h2 {
  font-size: 60px;
  color: white;
  margin: auto;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 70px;
}

h3 {
  font-size: 60px;
  color: black;
  margin: auto;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 70px;
}

.about {
  background: #37BC9B;
  width: 100%;
  height: 640px;
  display: table;
}

.textWrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 38px;
  height: 640px;
  display: table-cell;
}

.text {
  width: 100%;
  margin: 0 auto;
}

.col {
  width: 33%;
  font-size: 25px;
  line-height: 26px;
  margin-top: 55px;
  float: left;
}

.kinect {
  background: white;
  width: 100%;
  height: 1400px;
  display: table;
}

.kinectWrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 38px;
  height: 640px;
  display: table-cell;
  padding: 10px;
}

.contentsWrapper {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  /*floatの解除*/
}

.Img1 {
  background: pink;
  width: 40%;
  height: 600px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  float: left;
}
.Img1 .pix1 {
  background: white;
  width: 80%;
  height: 400px;
  margin: 88px auto;
  background-image: url("../img/kinect1.png");
  background-size: cover;
  background-position: center;
}
.Img1 .pix2 {
  background: white;
  width: 80%;
  height: 400px;
  margin: 88px auto;
  background-image: url("../img/13.jpg");
  background-size: cover;
  background-position: center;
}

.Lcol {
  background: blue;
  width: 60%;
  height: 600px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  float: left;
}

.leap {
  background: #E04C2D;
  width: 100%;
  height: 1400px;
  display: table;
}

.leapWrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 38px;
  height: 640px;
  display: table-cell;
  padding: 10px;
}

.Img1 {
  background: pink;
  width: 40%;
  height: 600px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  float: left;
}
.Img1 .pix3 {
  background: white;
  width: 80%;
  height: 400px;
  margin: 88px auto;
  background-image: url("../img/leap1.png");
  background-size: cover;
  background-position: center;
}
.Img1 .pix2 {
  background: white;
  width: 80%;
  height: 400px;
  margin: 88px auto;
  background-image: url("../img/13.jpg");
  background-size: cover;
  background-position: center;
}

.inoue {
  background: white;
  width: 100%;
  height: 680px;
  display: table;
}

.inoueWrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 38px;
  height: 600px;
  display: table-cell;
  padding: 10px;
}

.Img2 {
  background: pink;
  width: 40%;
  height: 550px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  float: left;
}
.Img2 .pix3 {
  background: white;
  width: 80%;
  height: 400px;
  margin: 88px auto;
  background-image: url("../img/leap1.png");
  background-size: cover;
  background-position: center;
}

.Lcol2 {
  background: blue;
  width: 60%;
  height: 550px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  float: left;
}

.yamada {
  background: #37BC9B;
  width: 100%;
  height: 680px;
  display: table;
}

.yamadaWrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 38px;
  height: 600px;
  display: table-cell;
  padding: 10px;
}

.Img2 {
  background: pink;
  width: 40%;
  height: 550px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  float: left;
}
.Img2 .pix3 {
  background: white;
  width: 80%;
  height: 400px;
  margin: 88px auto;
  background-image: url("../img/leap1.png");
  background-size: cover;
  background-position: center;
}

.Lcol2 {
  background: blue;
  width: 60%;
  height: 550px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  float: left;
}
