.bgContents {
    width: 100%;
}
.eyeCatch {
    background-image: url('../img/tanitop.jpg');
    width: 100%;
    height: 680px;
    background-size: cover;
    background-position: center;
    display: table;
}
.title {
    display: table-cell;
    font-size: 85px;
    text-align: center;
    color: rgba(#FFF, 0.9);
    vertical-align: middle;
    text-shadow: 5px 5px 5px rgba(#000, 0.5);
}
.clear{
    clear: both;
}
#submozi {
    font-size: 54px;
}
#subAbout {
    font-size: 25px;
}
#member {
    font-size: 22px;
}
#setumei {
    font-size: 30px;
}
h2 {
    font-size: 60px;
    color: white;
    margin: 12px auto;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 70px;
}
h3 {
    font-size: 60px;
    color: black;
    margin: auto;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 70px;
}
h4 {
    font-size: 40px;
    margin: auto;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: normal;
}
// vote
.voteWrapper {
    background: white;
    width: 100%;
    height: 400px;
    display: table;
    margin: 0 auto;
}
.vote {
    width: 100%;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
    font-size: 65px;
    a {
        border-bottom: 10px solid #37BC9B;
    }
}
.about {
    background: #37BC9B;
    width: 100%;
    height: 640px;
    display: table;
}
.textWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    height: 640px;
    display: table-cell;
}
.gameWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    display: table-cell;
    overflow: hidden;
    color: black;
}
.w-gameWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    display: table-cell;
    overflow: hidden;
    color: white;
}
.setumeiWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    display: table-cell;
}
.text {
    width: 100%;
    margin: 10px auto;
}
.left {
    text-align: left;
}
.col {
    width: 30%;
    font-size: 20px;
    line-height: 35px;
    float: left;
    text-align: center;
    margin: 15px;
}
.col2 {
    width: 44%;
    font-size: 20px;
    line-height: 35px;
    float: left;
    text-align: center;
    margin: 15px;
}
// kinect
.kinect {
    background: white;
    width: 100%;
    height: 1920px;
    display: table;
}
.kinectWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    height: 640px;
    display: table-cell;
    padding: 10px;
}
.contentsWrapper {
    margin: 0 auto;
    width: 90%;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
}
.Img {
    background: none;
    width: 40%;
    height: 550px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
    float: left;
    .pix1 {
        background: white;
        width: 80%;
        height: 400px;
        margin: 88px auto;
        background-image: url('../img/kinect1.png');
        background-size: cover;
        background-position: center;
    }
    .pix2 {
        background: white;
        width: 80%;
        height: 400px;
        margin: 88px auto;
        background-image: url('../img/kinect2.png');
        background-size: cover;
        background-position: center;
    }
    .pixadd {
        background: white;
        width: 80%;
        height: 400px;
        margin: 88px auto;
        background-image: url('../img/Bob.png');
        background-size: cover;
        background-position: center;
    }
}
.Lcol {
    display : -webkit-flex;
    display : flex;
    background: none;
    width: 60%;
    height: 550px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
    float: left;
}
// leap
.leap {
    background: #E04C2D;
    width: 100%;
    height: 1340px;
    display: table;
}
.leapWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    height: 640px;
    display: table-cell;
    padding: 10px;
}
.pix3 {
    background: white;
    width: 80%;
    height: 400px;
    margin: 88px auto;
    background-image: url('../img/leap1.png');
    background-size: cover;
    background-position: center;
}
.pix4 {
    background: white;
    width: 80%;
    height: 400px;
    margin: 88px auto;
    background-image: url('../img/13.jpg');
    background-size: cover;
    background-position: center;
    }

// inoue
.inoue {
    background: white;
    width: 100%;
    height: 700px;
    display: table;
}
.inoueWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    height: 600px;
    display: table-cell;
    padding: 10px;
}
.pix5 {
    background: white;
    width: 80%;
    height: 400px;
    margin: 88px auto;
    background-image: url('../img/leap1.png');
    background-size: cover;
    background-position: center;
}
.Lcol2 {
    background: blue;
    width: 60%;
    height: 550px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
    float: left;
}
// yamada
.yamada {
    background: #37BC9B;
    width: 100%;
    height: 700px;
    display: table;
}
.yamadaWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    height: 600px;
    display: table-cell;
    padding: 10px;
}
.pix6 {
    background: white;
    width: 80%;
    height: 400px;
    margin: 88px auto;
    background-image: url('../img/leap1.png');
    background-size: cover;
    background-position: center;
}